@font-face {
    font-family: 'Inter';
    src: url('./assets/fonts/static/Inter-Regular.ttf');
}

:root {
    --accent: hsl(44, 100%, 79%);
    --white: hsl(51, 100%, 97%);
    --teal: hsl(164, 53%, 52%);
    --peach: hsl(9, 94%, 75%);
    --darkest: hsl(214, 47%, 10%);
}
  
body {
    background-color: var(--darkest);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Inter', sans-serif;
  }

h1 {
      color: var(--darkest);
      font-weight: 600;
      margin: 0;
  }
  
p {
    color: var(--darkest);
    font-size: 14px;
}

img {
    border-radius: 50%;
    width: 8rem;
    margin-bottom: 2rem;
    border-width: 10px;
    border-style: solid;
}
    
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    }

.box {
    background-color: var(--teal);
    border-radius: 20px;
    width: 20rem;
    padding: 2.2rem;
    margin: 1.5rem;
    box-shadow: 12px 15px var(--accent);
    border-width: 5px;
    border-style: solid;
    border-color: var(--darkest);
}
        
.links {
    width: 100%;
}

.btn {
    color: var(--white);
    background-color: var(--darkest);
    border-color: var(--darkest);
    border-width: 10px;
    position: relative;
    font-weight: 600;
    padding-top: .8rem;
    padding-bottom: .8rem;
    border-radius: 10px;
    width: 100%;
    margin: .4rem;
    text-align: center;
    text-decoration: none;
    overflow: hidden;
    z-index: 1;
    }

.btn::before {
    background: var(--peach);
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transition: all 0.4s ease;
    transform: translate(-50%, -50%) rotate(45deg);
    width: 100%;
    height: 0;
    z-index: -1;
}

.btn:hover {
    color: var(--darkest);
}

.btn:hover::before {
    height: 550%;
}

.location {
    color: var(--darkest);
    font-weight: 600;
}
    
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
